<p>show-civic-projects works!</p>
<mat-form-field appearance="fill">
    <mat-label>Miasto</mat-label>
    <mat-select [(ngModel)]="selectedCity" (selectionChange)="onCitySelectChange()">
        <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
    </mat-select>
</mat-form-field>
<br>
<span>Projekty dla miasta {{selectedCity}}</span>
<br>
<div *ngFor="let project of projects">
    <h3>tytuł:{{project.title}}</h3>
    <h3>opis:{{project.description}}</h3>
    <hr>
</div>
<!-- <button mat-flat-button (click)="getProjectsByCity()">pokaz projekty</button> -->