<div class="container">

  <div class="header">{{selectedCity}}</div>

  <mat-form-field appearance="fill">
    <mat-label class="cityChoose">Miasto</mat-label>
    <mat-select [(ngModel)]="selectedCity" (selectionChange)="onCitySelectChange()">
      <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
    </mat-select>
  </mat-form-field>



<div class="cardContainer">
  <mat-card class="card" *ngFor="let project of projects">
    <mat-card-title>{{project.title}}</mat-card-title>
    <mat-card-content>opis:{{project.description}}</mat-card-content>
  </mat-card>
</div>

</div>
<!-- <button mat-flat-button (click)="getProjectsByCity()">pokaz projekty</button>-->
