:host{
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 20px;
  overflow: hidden;
}
.container{
  width: 98%;
  height: 100%;
  box-sizing: border-box;
  margin-left: 1%;
}
.header{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.headerText{
  width: 75%;
  right: 0%;
  font-size: 30px;
  text-align: center;
  padding-top: 5px;
}

.cardContainer{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  width: 500px!important;
  height: 220px;
  border: 2px solid #3f51b5;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #ffffff;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  padding: 0;
  word-break: break-all
}
.mat-card-title{
  color: Black;
  height: 20%;
  width: 300px;
  font-size: 18px;
  margin-bottom: 10px;
  //box-sizing: border-box;
  //border: 1px solid black;
}
.mat-card-content{
  height: 45%;
  width: 300px;
  //box-sizing: border-box;
  //border: 1px solid black;
  word-break: break-all
}
.icon{
  width: 167px;
  background-color: #ecc351;
  border-top-right-radius: 8px;
  border: 2px solid #3f51b5;
  box-sizing: border-box;
  padding: 0!important;
  margin: 0!important;
  position: relative;
  top: -2px;
  right: -2px;
}
.contentContainer{
  width: 300px;
  //box-sizing: border-box;
  //border: 1px solid black;
}
.buttons{
  width: 100%;
  height: 52px;
  display: flex;
  justify-content:space-between ;
  align-content: flex-start;
  //box-sizing: border-box;
  //border: 1px solid black;
  padding: 0!important;
  margin: 0!important;
  position: relative;
  bottom: 2px;
  right: 0px;
}
.showButton{
  width: 334px;
  height: 51px;
  border-bottom-left-radius: 7px!important;
  border-radius:0;
  margin: 0!important;
  padding: 0!important;
}
.voteButton{
  width: 166px;
  height: 51px;
  margin: 0!important;
  border-radius:0;
  border-bottom-right-radius: 7px!important;
  padding: 0!important;
}
.disabled{
  background-color: #c7c7c7 !important;
}


.projectDetails{
  width: 100%;
  min-height: 85%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  align-content: flex-start;
}
.detailsTitle{
  width: 100%;
  height: 3vh;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  box-sizing: border-box;

}
.detailsDesc, .detailsJust{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  box-sizing: border-box;
  word-break: break-all;
  height: auto;
  min-height: 20vh;
  flex-wrap: wrap;
}
.detailsContentTitle{
  width: 90%;
  height: 15%;
  font-size: 25px;
  box-sizing: border-box;

}
.detailsContent{
  width: 95%;
  height: 85%;
  font-size: 20px;
  box-sizing: border-box;
  background-color: #f3f2f2;
  padding: 10px;
}
table{
  width: 100%;
  margin-bottom: 25px;
}
.tableHeader{
  background-color: #3f51b5;
  color: white;
}


