.tab-bar{
    background-color: #3f51b5;
    width: 55%;
  min-width: 650px;

    margin: 0 auto;
    padding: 0 20px;

    a{
        color: white;
    }
    ::ng-deep .mat-ink-bar{
        background-color: white;
    }
}