
<div class="body">
  <div class="login-tile">
    <p class="login-header">Zaloguj się</p>
    <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
        <mat-form-field appearance="standard">
          <mat-label>Pesel</mat-label>
          <input matInput placeholder="01010101011" type="text" formControlName="pesel">
          <mat-error *ngIf="loginForm.controls.pesel.invalid">Wprowadź poprawny pesel</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Hasło</mat-label>
          <input matInput type="password" placeholder="dobryObywatel12" formControlName="password">
        </mat-form-field>

        <mat-error *ngIf="errorMessage != null">{{errorMessage}}</mat-error>

      <button mat-raised-button color="primary" type="submit" value="prześlij">Zaloguj się</button>


    </form>
  </div>

  <div class="texts">
    <a routerLink="/auth/register">Nie masz konta? <a [style.text-decoration]="'underline'">Zarejestruj się!</a></a><br><br><br>
    <a routerLink="">Wróć na stronę główna</a>
  </div>
</div>

