Your documents:
<!-- <div *ngFor="let document of documents">
    {{document.name}} <button [routerLink]="['details/', document.name]">Info</button>
</div> -->
<p *ngIf="!hasWallet">
    You don't have any documents,
    add one?
</p>

<p *ngIf="wallet?.identityCard != null">
    Dowod
    <button [routerLink]="['details/identity-card']">info</button>
</p>

<p *ngIf="wallet?.passport != null">
    Paszport
    <button [routerLink]="['details/passport']">info</button>
</p>
<p *ngIf="wallet?.driverLicence != null">
    Prawo jazdy
    <button [routerLink]="['details/driver-licence']">info</button>
</p>
<button [routerLink]="['add']">dodaj nowy dokument</button>