<div class="container" >

  <h2 style="text-align: center;width: 100%; font-size: 35px">Prawo jazdy</h2>
  <div class="cardContainer" *ngIf="wallet!=null && wallet.driverLicence != null">
    <div *ngIf="wallet!=null && wallet.driverLicence != null" class="images">
      <img [src]="wallet.driverLicence.frontOfDocumentImage.link"  class="cardPhoto">
      <img [src]="wallet.driverLicence.backOfDocumentImage.link"  class="cardPhoto">
      <img [src]="wallet.driverLicence.picture.link"  class="cardPicture">
    </div>
    <div *ngIf="wallet!=null && wallet.driverLicence != null" class="cardDetails">

      <mat-list role="list">

        <mat-list-item role="listitem"><b>Imię:</b> {{wallet.driverLicence.firstName}}        <mat-divider></mat-divider></mat-list-item>
        <mat-list-item role="listitem" *ngIf="wallet.driverLicence.secondName"><b>Drugie imię:</b> {{wallet.driverLicence.secondName}}        <mat-divider></mat-divider></mat-list-item>
        <mat-list-item role="listitem"><b>Nazwisko:</b> {{wallet.driverLicence.surname}}        <mat-divider></mat-divider></mat-list-item>
        <mat-list-item role="listitem"><b>Miejsce urodzenia:</b> {{wallet.driverLicence.placeOfBirth}}        <mat-divider></mat-divider></mat-list-item>
        <mat-list-item role="listitem"><b>Data urodzenia:</b> {{wallet.driverLicence.birthDate}}        <mat-divider></mat-divider></mat-list-item>
         </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem"><b>Uprawnienia:</b> <a *ngFor="let perm of wallet.driverLicence.permissions">{{perm.driverLicenceType}}</a>        <mat-divider></mat-divider></mat-list-item>
        <mat-list-item role="listitem"><b>Numer dokumentu:</b> {{wallet.driverLicence.documentNumber}}        <mat-divider></mat-divider></mat-list-item>
        <mat-list-item role="listitem"><b>Ośrodek wydający:</b> {{wallet.driverLicence.issuingAuthority}}        <mat-divider></mat-divider></mat-list-item>
        <mat-list-item role="listitem"><b>Data wydania:</b> {{wallet.driverLicence.dateOfIssue}}        <mat-divider></mat-divider></mat-list-item>
      </mat-list>
    </div>
  </div>
  <div style="align-content: center;justify-content: center!important;" class="cardContainer" *ngIf="wallet==null || wallet.driverLicence == null">
    <p style="font-size:20px;text-align: center;width: 100%">Nic tu nie ma</p>
    <button routerLink="driver-licence" class="showDetails" mat-raised-button color="primary">Dodaj prawo jazdy</button>
  </div>


    <h2 style="text-align: center;width: 100%; font-size: 35px">Dowód osobisty</h2>
    <div class="cardContainer" *ngIf="wallet!=null && wallet.identityCard != null">
      <div *ngIf="wallet!=null && wallet.identityCard != null" class="images">
<!--        <img [src]="wallet.identityCard.frontOfDocumentImage.link"  class="cardPhoto">-->
<!--        <img [src]="wallet.identityCard.backOfDocumentImage.link"  class="cardPhoto">-->
        <img [src]="wallet.identityCard.picture.link"  class="cardPicture">
      </div>

<div *ngIf="wallet!=null && wallet.identityCard != null" class="cardDetails">

        <mat-list role="list">

          <mat-list-item role="listitem"><b>Imię:</b> {{wallet.identityCard.firstName}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem" *ngIf="wallet.identityCard.secondName"><b>Drugie imię:</b> {{wallet.driverLicence.secondName}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Nazwisko:</b> {{wallet.identityCard.surname}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Miejsce urodzenia:</b> {{wallet.identityCard.placeOfBirth}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Data urodzenia:</b> {{wallet.identityCard.birthDate}}        <mat-divider></mat-divider></mat-list-item>
        </mat-list>
        <mat-list role="list">
          <mat-list-item role="listitem"><b>Narodowość:</b> {{wallet.identityCard.nationality}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Płeć:</b> {{wallet.identityCard.sex}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Numer dokumentu:</b> {{wallet.identityCard.documentNumber}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Ośrodek wydający:</b> {{wallet.identityCard.issuingAuthority}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Data wydania:</b> {{wallet.identityCard.dateOfIssue}}        <mat-divider></mat-divider></mat-list-item>
        </mat-list>
        <mat-list role="list">
          <mat-list-item role="listitem"><b>CAN:</b> {{wallet.identityCard.CAN}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Nazwizsko rodowe:</b> {{wallet.identityCard.familyName}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Imię ojca:</b> {{wallet.identityCard.fatherName}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Imię matki:</b> {{wallet.identityCard.motherName}}        <mat-divider></mat-divider></mat-list-item>>
        </mat-list>
      </div>
    </div>
    <div style="align-content: center;justify-content: center!important;" class="cardContainer" *ngIf="wallet==null || wallet.identityCard == null">
      <p style="font-size:20px;text-align: center;width: 100%">Nic tu nie ma</p>
      <button routerLink="identity-card" class="showDetails" mat-raised-button color="primary">Dodaj dowód osobisty</button>
    </div>


    <h2 style="text-align: center;width: 100%; font-size: 35px">Paszport</h2>
    <div class="cardContainer" *ngIf="wallet!=null && wallet.identityCard != null">
      <div *ngIf="wallet!=null && wallet.passport != null" class="images">
        <!--        <img [src]="wallet.passport.frontOfDocumentImage.link"  class="cardPhoto">-->
        <!--        <img [src]="wallet.passport.backOfDocumentImage.link"  class="cardPhoto">-->
        <img [src]="wallet.passport.picture.link"  class="cardPicture">
      </div>
 <div *ngIf="wallet!=null && wallet.passport != null " class="cardDetails">
        <mat-list role="list">
          <mat-list-item role="listitem"><b>Imię:</b> {{wallet.passport.firstName}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem" *ngIf="wallet.passport.secondName"><b>Drugie imię:</b> {{wallet.driverLicence.secondName}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Nazwisko:</b> {{wallet.passport.surname}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Miejsce urodzenia:</b> {{wallet.passport.placeOfBirth}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Data urodzenia:</b> {{wallet.passport.birthDate}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Data urodzenia:</b> {{wallet.passport.expiryDate}}        <mat-divider></mat-divider></mat-list-item>
        </mat-list>
        <mat-list role="list">
          <mat-list-item role="listitem"><b>Narodowość:</b> {{wallet.passport.nationality}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Płeć:</b> {{wallet.passport.sex}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Numer dokumentu:</b> {{wallet.passport.documentNumber}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Ośrodek wydający:</b> {{wallet.passport.issuingAuthority}}        <mat-divider></mat-divider></mat-list-item>
          <mat-list-item role="listitem"><b>Data wydania:</b> {{wallet.passport.dateOfIssue}}        <mat-divider></mat-divider></mat-list-item>
        </mat-list>

      </div>
    </div>
    <div style="align-content: center;justify-content: center!important;" class="cardContainer" *ngIf="wallet==null || wallet.passport == null">
      <p style="font-size:20px;text-align: center;width: 100%">Nic tu nie ma</p>
      <button routerLink="passport" class="showDetails" mat-raised-button color="primary">Dodaj paszport</button>
    </div>

</div>
