

<mat-grid-list  cols="4" [rowHeight]="height/100" gutterSize="0">
  <mat-grid-tile [rowspan]="55" [colspan]="4"><div class="maintext">ProjectName to system w którym obywatel moze znależć
    potrzebne mu  informacje uurzędowe i administracyjne
  </div></mat-grid-tile>


  <mat-grid-tile [style.overflow]="'visible'" [rowspan]="43" [colspan]="1">
    <mat-card class="dark" routerLink="civicProject/show">
      <mat-card-title [style.margin-bottom]="'20px'">Budżet obywatelski</mat-card-title>
      <mat-card-content [style.font-size]="'18px'">
        Aplikacja zbierająca w jendym między wszystkie budżety obywatelskie w poslce, możesz znalezć szybko swój,
        zobaczyć co jest proponowane w innych miastach, lub wziąć sprawe w swoje ręce i samemu zaproponować projekt
      </mat-card-content>
      <img mat-card-lg-image src="/assets/vote.png" alt="">
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [style.overflow]="'visible'" [rowspan]="43" [colspan]="1">
  <mat-card class="bright" >
    <mat-card-title>Przypominajka o podatkach</mat-card-title>
  </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [style.overflow]="'visible'" [rowspan]="43" [colspan]="1">
    <mat-card class="dark" routerLink="civicProject">
      <mat-card-title>Znajdż swój urząd</mat-card-title>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [style.overflow]="'visible'" [rowspan]="43" [colspan]="1">
    <mat-card class="bright" >
      <mat-card-title>Przypominajka o podatkach</mat-card-title>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
