:host{
background-color: #212020;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.maintext{
  width: 40%;
  font-size: 30px;
  line-height: 35px;
}
