

<mat-grid-list  cols="15" [rowHeight]="height/150" gutterSize="0">
  <mat-grid-tile [rowspan]="60" [colspan]="15"><div class="maintext">E-obywatel to system w którym obywatel może znależć
    potrzebne mu  informacje urzędowe i administracyjne
  </div></mat-grid-tile>
  <mat-grid-tile [rowspan]="40" [colspan]="2"></mat-grid-tile>

  <mat-grid-tile class="onhover" [style.overflow]="'visible'" [rowspan]="43" [colspan]="4">
    <mat-card style="min-height: 330px;z-index: 100" class="dark" routerLink="civicProject/show">
      <mat-card-title [style.margin-bottom]="'20px'">Budżet obywatelski</mat-card-title>
      <mat-card-content [style.font-size]="'18px'">
        Aplikacja zbierająca w jednym między wszystkie budżety obywatelskie w polsce, możesz znaleźć szybko swój,
        zobaczyć co jest proponowane w innych miastach, lub wziąć sprawe w swoje ręce i samemu zaproponować projekt
      </mat-card-content>
        <img mat-card-lg-image src="/assets/vote.png" alt="">
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [style.overflow]="'visible'" [rowspan]="40" [colspan]="3">

  </mat-grid-tile>

  <mat-grid-tile class="onhover" routerLink="wallet/showWallet" [style.overflow]="'visible'" [rowspan]="43" [colspan]="4">
    <mat-card style="min-height: 330px;z-index: 100" class="dark">
      <mat-card-title>Portfel na E-dokumenty</mat-card-title>
      <mat-card-content [style.font-size]="'18px'">
        Portfel na e-dokumenty, by trzymać wszystkie ważne rzeczy w jednym, bezpiecznym miejscu
      </mat-card-content>
      <img mat-card-lg-image src="/assets/wallet.png" alt="">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="40" [colspan]="2"></mat-grid-tile>

  <mat-grid-tile [style.overflow]="'visible'" [rowspan]="40" [colspan]="1">
  </mat-grid-tile>
</mat-grid-list>
