<form>
    <input type="url" placeholder="image link" formControlName="frontImageUrl">
    <input type="url" placeholder="image link" formControlName="backImageUrl">

    <input type="text" placeholder="first name" formControlName="firstName">
    <input type="text" placeholder="second name" formControlName="secondName">
    <input type="text" placeholder="surname" formControlName="surname">

    <input type="text" placeholder="nationality" formControlName="nationality">
    <input type="text" placeholder="document number" formControlName="documentNumber">

    <input type="date" placeholder="expiration date" formControlName="expirationDate">
    <input type="date" placeholder="date of birth" formControlName="dateOfBirth">

    <input type="text" placeholder="sex" formControlName="sex">
    <input type="text" placeholder="can number" formControlName="CAN">
    <input type="text" placeholder="place of birth" formControlName="placeOfBirth">
    <input type="text" placeholder="pesel" formControlName="pesel">

    <input type="text" placeholder="family name" formControlName="familyName">
    <input type="text" placeholder="mother name" formControlName="motherName">
    <input type="text" placeholder="father name" formControlName="fatherName">

    <input type="text" placeholder="issuing authority" formControlName="issuingAuthority">
    <input type="date" placeholder="issue date" formControlName="issueDate">
</form>
<button (click)="submitForm()">submit</button>
<button (click)="dummySubmit()">dummy data</button>