<form style="display: flex; justify-content: space-around;flex-wrap: wrap; width:100%" [formGroup]="addIdForm">

  <a class="header">Dodaj dowód osobisty</a>
  <div class="inputField">
    Zdjecie portretowe
    <mat-form-field appearance="fill">
      <mat-label>Portret</mat-label>
      <input matInput type="url" placeholder="link do zdjęcia" formControlName="pictureUrl">
    </mat-form-field>
  </div>
  <div class="inputField">
    Zdjęcie przodu
    <mat-form-field appearance="fill">
        <mat-label>    Zdjęcie przodu</mat-label>
        <input matInput type="url" placeholder="link do zdjęcia" formControlName="frontImageUrl">
    </mat-form-field>
    </div>
  <div class="inputField">
    Zdjęcie tyłu (link)
    <mat-form-field appearance="fill">
        <mat-label>Zdjęcie tyłu</mat-label>
        <input matInput type="url" placeholder="link do zdjęcia" formControlName="backImageUrl">
    </mat-form-field>
  </div>
  <div class="inputField">
    Imie
    <mat-form-field appearance="fill">
        <mat-label>Imię</mat-label>
        <input matInput type="text" placeholder="np. Jan" formControlName="firstName">
    </mat-form-field>
    </div>
  <div class="inputField">
    Drugie imię
    <mat-form-field appearance="fill">
        <mat-label>Drugię imię</mat-label>
        <input matInput type="text" placeholder="nie obowiązkowe" formControlName="secondName">
    </mat-form-field>
    </div>
  <div class="inputField">
    Nazwisko
    <mat-form-field appearance="fill">
        <mat-label>Nazwisko</mat-label>
        <input matInput type="text" placeholder="np. Kowalski" formControlName="surname">
    </mat-form-field>
  </div>
  <div class="inputField">
   Obywatelstwo
    <mat-form-field appearance="fill">
        <mat-label>Obywatelstwo</mat-label>
        <input matInput type="text" placeholder="Np. Polskie" formControlName="nationality">
    </mat-form-field>
    </div>
  <div class="inputField">
    Numer dokumentu
    <mat-form-field appearance="fill">
        <mat-label>Numer dokumentu</mat-label>
        <input matInput type="text" placeholder="DER000000" formControlName="documentNumber">
    </mat-form-field>
    </div>
  <div class="inputField">
    Termin wygaśnięcia ważności
    <mat-form-field appearance="fill">
        <mat-label>Termin wygaśniecia ważności</mat-label>
        <input matInput type="date" placeholder="dd-mm-yyyy" formControlName="expirationDate">
    </mat-form-field>
  </div>
  <div class="inputField">
    Płeć
    <mat-form-field appearance="fill">
        <mat-label>Płeć</mat-label>
        <mat-select formControlName="sex">
            <mat-option value="MAN" >
                Mężczyzna
            </mat-option>
            <mat-option value="WOMAN" >
                Kobieta
            </mat-option>
        </mat-select>
    </mat-form-field>
    </div>

  <div class="inputField">
    Data urodzenia
    <mat-form-field appearance="fill">
      <mat-label>Data urodzenia</mat-label>
      <input matInput type="date" placeholder="dd-mm--yyyy" formControlName="dateOfBirth">
    </mat-form-field>
  </div>
  <div class="inputField">
    Miejsce urodzenia
    <mat-form-field appearance="fill">
        <mat-label>    Miejsce urodzenia</mat-label>
        <input matInput type="text" placeholder="np Warszawa" formControlName="placeOfBirth">
    </mat-form-field>
    </div>
  <div class="inputField">
    Pesel
    <mat-form-field appearance="fill">
        <mat-label>Pesel</mat-label>
        <input matInput type="text" placeholder="12345678901" formControlName="pesel">
    </mat-form-field>
    </div>
  <div class="inputField">
    Organ wydający
    <mat-form-field appearance="fill">
      <mat-label>    Organ wydający</mat-label>
      <input matInput type="text" placeholder="np. Prezydent rp" formControlName="issuingAuthority">
    </mat-form-field>
  </div>
  <div class="inputField">
    Data wydania
    <mat-form-field appearance="fill">
      <mat-label>    Data wydania</mat-label>
      <input matInput type="date" placeholder="data" formControlName="issueDate">
    </mat-form-field>
  </div>
  <div class="inputField">
    Numer CAN
    <mat-form-field appearance="fill">
      <mat-label>Numer CAN</mat-label>
      <input matInput type="text" placeholder="Numer CAN" formControlName="CAN">
    </mat-form-field>
  </div>
  <div class="inputField">
    Nazwisko rodowe
    <mat-form-field appearance="fill">
        <mat-label>    Nazwisko rodowe</mat-label>
        <input matInput type="text" placeholder="Np Kowalski" formControlName="familyName">
    </mat-form-field>
    </div>
  <div class="inputField">
    Imię matki
    <mat-form-field appearance="fill">
        <mat-label>    Imię matki</mat-label>
        <input matInput type="text" placeholder="np. Halina" formControlName="motherName">
    </mat-form-field>
    </div>
  <div class="inputField">
    Imię ojca
    <mat-form-field appearance="fill">
        <mat-label>    Imię ojca</mat-label>
        <input matInput type="text" placeholder="np. Janusz" formControlName="fatherName">
    </mat-form-field>
  </div>

</form>
<button mat-raised-button color="primary" (click)="submitForm()">Dodaj dowód</button>

