<mat-grid-list  cols="4" [rowHeight]="height" gutterSize="0">
  <mat-grid-tile [rowspan]="12" [colspan]="4"><app-navbar [height]="height*12"></app-navbar></mat-grid-tile>

  <mat-grid-tile [rowspan]="43" [colspan]="4"><app-middlebar></app-middlebar></mat-grid-tile>

  <mat-grid-tile [style.overflow]="'visible'" [rowspan]="45" [colspan]="1"><div routerLink="civicProject" class="dark">Budżet Obywatelski</div></mat-grid-tile>

  <mat-grid-tile [style.overflow]="'visible'" [rowspan]="45" [colspan]="1"><div class="bright">Przypominajk o podatkach</div></mat-grid-tile>

  <mat-grid-tile [style.overflow]="'visible'" [rowspan]="45" [colspan]="1"><div class="dark">Wheres ur urzad</div></mat-grid-tile>

  <mat-grid-tile [style.overflow]="'visible'" [rowspan]="45" [colspan]="1"><div class="bright">whos ur politicer</div></mat-grid-tile>




</mat-grid-list>

