<div class="container" [style.height]="height">
  <mat-grid-list style="min-height: 150px" cols="100" gutterSize="0" [rowHeight]="height/10">
    <mat-grid-tile rowspan="8" colspan="25"></mat-grid-tile>
    <mat-grid-tile rowspan="8" colspan="25" routerLink="" [style.color]="'white'" [style.font-size]="'60px'"><a
        class="logo">ProjectName</a></mat-grid-tile>
    <mat-grid-tile rowspan="8" colspan="15"></mat-grid-tile>
    <!--logo-->
    <mat-grid-tile *ngIf="!isLogged" rowspan="8" colspan="10">
      <button class="login" mat-flat-button routerLink="auth/login">Zaloguj się</button>
      <div *ngIf="isLogged" class="user-info" style="display:flex; flex-direction: column; text-align: center;">
        <span>{{userData?.firstName}} {{userData?.secondName}}</span>
        <span>{{userData?.surname}}</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="isLogged" rowspan="8" colspan="10">
      <div class="user-info" style="display:flex; flex-direction: column; text-align: center;">
        <span>{{userData?.firstName}} {{userData?.secondName}}</span>
        <span>{{userData?.surname}}</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="8" colspan="2"></mat-grid-tile>
    <mat-grid-tile rowspan="8" colspan="10">
      <button *ngIf="!isLogged" class="register" mat-flat-button color="primary" routerLink="auth/register">Zarejestruj
        sie</button>
      <button *ngIf="isLogged" class="register" mat-flat-button color="primary" (click)="onLogout()">Wyloguj</button>
    </mat-grid-tile>
    <mat-grid-tile rowspan="8" colspan="5"></mat-grid-tile>
    <mat-grid-tile *ngIf="router.url=='/'" rowspan="2" colspan="100"></mat-grid-tile>
    <mat-grid-tile *ngIf="router.url!='/'" rowspan="2" colspan="25"></mat-grid-tile>
    <mat-grid-tile *ngIf="router.url!='/'" rowspan="2" colspan="50">
      <div class="nav-buttons">
        <a style="color: white" [routerLink]="['/civicProject/show']" >Projekty</a>
        <a style="color: white" [routerLink]="['/wallet/showWallet']">Portfel</a>
        <a style="color: white" *ngIf="isAdmin" [routerLink]="['/admin/civic-projects']">Panel admina</a>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
