button{
  font-size: 30px;
  background-color: #ecc351;
  height: 40%;
  width: 100%;
  margin-top:0px;
}
.contact{
  background-color: rgba(0,0,0,0);
  font-size:25px;
  color:white;
  position: absolute;
  bottom: 0;
}
.login{
  background-color: rgba(0,0,0,0);
  font-size:25px;
  color:white;
}
.register{
  background-color: #2c91e5;
  font-size:25px
}
.container{
  background-color: #131313;
  width: 100%;
}
