<p>register works!</p>
<form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit()">
    <input type="text" placeholder="name" formControlName="name">
    <input type="text" placeholder="surname" formControlName="surname">
    
    <input type="email" placeholder="email" formControlName="email">
    <input type="text" placeholder="city" formControlName="city">
    
    <input type="text" placeholder="pesel" formControlName="pesel">
    <input type="text" placeholder="phone number" formControlName="phoneNumber">
    
    <input type="password" placeholder="password" formControlName="password">
    <input type="password" placeholder="confirm password" formControlName="passwordConfirm">
    
    <input type="submit" value="prześlij">
</form>
<h3>Already have an account?</h3>
<a routerLink="/auth/login">Log in!</a>
