<div class="body">
  <div class="login-tile">
    <p class="login-header">Zarejestruj się</p>
    <form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit()">

      <mat-form-field class="halfInput">
        <mat-label>Imię</mat-label>
        <input matInput type="text" placeholder="name" formControlName="firstName">
      </mat-form-field>

      <mat-form-field class="halfInput">
        <mat-label>Drugie imię (nieobowiązkowe)</mat-label>
        <input matInput type="text" placeholder="name" formControlName="secondName">
      </mat-form-field>

      <mat-form-field class="halfInputRight">
        <mat-label>Nazwisko</mat-label>
        <input matInput type="text" placeholder="surname" formControlName="surname">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="email" formControlName="email">
      </mat-form-field>

      <mat-form-field class="halfInput">
        <mat-label>Miejscowość</mat-label>
        <input matInput type="text" placeholder="city" formControlName="city">
      </mat-form-field>

      <mat-form-field class="halfInputRight">
        <mat-label>numer telefonu</mat-label>
        <input matInput type="text" placeholder="phone number" formControlName="phoneNumber">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Pesel</mat-label>
        <input matInput type="text" placeholder="pesel" formControlName="pesel">
      </mat-form-field>



      <mat-form-field>
        <mat-label>Hasło:</mat-label>
        <input matInput type="password" placeholder="password" formControlName="password">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Powtórz hasło</mat-label>
        <input matInput type="password" placeholder="confirm password" formControlName="passwordConfirm">
      </mat-form-field>







      <button mat-raised-button type="submit" color="primary" value="prześlij">Zarejestruj się</button>
    </form>
  </div>

  <div class="texts">
    <a routerLink="/auth/register">Masz konto? <a [style.text-decoration]="'underline'">Zaloguj się!</a></a><br><br><br>
    <a routerLink="">Wróć na stronę główna</a>
  </div>
</div>
